{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Bem-vindo ao meu Portfólio!</h2>
    <p>Meu nome é Eduardo Bego Bergamini e sou estudante de TI no 4º semestre.</p>
    <p>Tenho sabedoria em Python e C++, e aprendo rápido as coisas.</p>
    <p>Estou desenvolvendo minhas habilidades e aqui você pode acompanhar meus projetos e progresso.</p>

    <h3>Sobre Mim</h3>
    <p>Além de programação, eu também gosto de jogar nas horas vagas. É uma forma de relaxar e me divertir.</p>

    <h3>Habilidades</h3>
    <ul>
        <li><strong>Python:</strong> Experiência com desenvolvimento de scripts, automação e aplicações web.</li>
        <li><strong>C++:</strong> Conhecimento em programação orientada a objetos e desenvolvimento de software.</li>
        <li><strong>Aprendizado Rápido:</strong> Capacidade de aprender novas tecnologias e ferramentas de forma eficiente.</li>
    </ul>

    <h3>Projetos</h3>
    <ul>
        <li><strong>Projeto 1:</strong> Descrição, "Estou tentando desenvolver um site ."</li>
        <li><strong>Projeto 2:</strong> Descrição . "Criei uma calculadora cientifica e utilizo no meu celular simples em C++ como parte de um curso de programação."</li>
    </ul>

    <h3>Contato</h3>
    <p>Você pode me contatar por e-mail: <a href="mailto:eduardo@example.com">eduardo.bergamini208@al.unieduk.com.br</a></p>
{% endblock %}
